# Spark on Tour
## Recomendación automática de películas en base a eventos de puntuación

En este notebook vamos a explorar una de las principales funcionalidades disponibles en la librería de ML de Spark, la generación automática de recomendaciones en base al histórico de eventos de usuarios.

Concretamente Spark incopora de serie una implementación parapelizada de un algoritmo de recomendación mediante filtrado colaborativo:

https://spark.apache.org/docs/2.4.3/ml-collaborative-filtering.html

Este tipo de algoritmos se basan en aprovechar el conocimiento generado a través de la captura de feedback de un gran número de usuarios para generar recomendaciones de forma automática.

En este caso vamos a utilizar el dataset de Movielens, que incorpora informacón de puntuaciones de películas para generar recomendaciones de nuevas películas que le podrían gustar a nuestros usuarios.

### Importamos librerías, definimos esquemas e inicializamos la sesión Spark.

In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

import plotly.express as px


ratingSchema = StructType([
    StructField("user", IntegerType()),
    StructField("movie", IntegerType()),
    StructField("rating", FloatType())
])

movieSchema = StructType([
    StructField("movie", IntegerType()),
    StructField("title", StringType()),
    StructField("genres", StringType())
])


#setup spark session
sparkSession = (SparkSession.builder
                .appName("Introducción API estructurada")
                .master("local[*]")
                .config("spark.scheduler.mode", "FAIR")
                .getOrCreate())
sparkSession.sparkContext.setLogLevel("ERROR")

### Leemos el dataset de ratings usuario / película

In [2]:
ratings = sparkSession.read.csv("/tmp/movielens/ratings.csv", schema=ratingSchema, header=True)
ratings.show(10)

+----+-----+------+
|user|movie|rating|
+----+-----+------+
|   1|    1|   4.0|
|   1|    3|   4.0|
|   1|    6|   4.0|
|   1|   47|   5.0|
|   1|   50|   5.0|
|   1|   70|   3.0|
|   1|  101|   5.0|
|   1|  110|   4.0|
|   1|  151|   5.0|
|   1|  157|   5.0|
+----+-----+------+
only showing top 10 rows

## Recomendando películas con el algoritmo Alternating Least Squares
Vamos a utilizar directamente los ratings como información de entrenamiento para el algoritmo de filtado colaborativo.

Dividimos el dataset en un conjunto de entrenamiento y otro conjunto, más pequeño, de prueba con el que poder validar el rendimiento del modelo de predicción de recomendaciones.

In [3]:
(training, test) = ratings.randomSplit([0.8, 0.2])

Los algoritmos de filtrado colaborativo construyen una matriz de dos dimensiones cruzando a todos los 'user' con todas las 'movies' por su rating, y sobre esta matriz tratan de predecir aquellos valores que no están presentes, es decir, aquellas películas que no ha recibido todavía valoración por parte de un usuario.

In [4]:
als = ALS(maxIter=5, regParam=0.01, userCol="user", itemCol="movie", ratingCol="rating",
          coldStartStrategy="drop")
model = als.fit(training)

Generamos las predicciones para nuestro conjunto de test y calculamos el error con respecto a las puntuaciones reales en dicho conjunto.

In [5]:
predictions = model.transform(test)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 1.0618606673886553

Generamos recomendaciones (5 películas) para cada usuario

In [6]:
recommendations = model.recommendForAllUsers(5)

In [7]:
recommendations.sort(asc("user")).show(10, truncate=False)

+----+--------------------------------------------------------------------------------------------------+
|user|recommendations                                                                                   |
+----+--------------------------------------------------------------------------------------------------+
|1   |[[3836, 6.511707], [2013, 6.3986654], [125, 6.246298], [3505, 6.2374196], [142488, 6.2144933]]    |
|2   |[[1014, 8.222667], [307, 8.031318], [2492, 7.4105945], [3446, 7.376205], [4649, 7.236281]]        |
|3   |[[86320, 6.682943], [4821, 6.6205907], [70946, 5.449472], [5181, 5.274498], [37380, 5.268049]]    |
|4   |[[7700, 7.3021345], [8228, 6.6762133], [6932, 6.446845], [111743, 6.385763], [72, 6.3837175]]     |
|5   |[[4649, 10.152126], [2135, 10.130684], [222, 10.052282], [4041, 9.367788], [1327, 9.3218775]]     |
|6   |[[2524, 6.5490828], [179819, 5.963917], [47423, 5.8685794], [4857, 5.848678], [103335, 5.802064]] |
|7   |[[446, 9.419422], [1283, 9.395563], [3067, 9.2141075], [87485, 8.60291], [6238, 8.534513]]        |
|8   |[[50601, 7.1530232], [2867, 7.0119643], [3616, 6.9957614], [135143, 6.9916153], [46948, 6.936066]]|
|9   |[[3030, 6.722801], [3266, 6.5647492], [1916, 6.542748], [3358, 6.4685826], [176371, 6.4281406]]   |
|10  |[[7318, 6.6026382], [2459, 6.313936], [133419, 6.1875033], [1866, 6.1307993], [3404, 5.934119]]   |
+----+--------------------------------------------------------------------------------------------------+
only showing top 10 rows

También podemos generar las recomendaciones inversas, cuales son los usuarios más interesados en ver una película

In [8]:
userRecs = model.recommendForAllItems(5)
userRecs.sort(asc("movie")).show(10, truncate=False)

+-----+-----------------------------------------------------------------------------------------+
|movie|recommendations                                                                          |
+-----+-----------------------------------------------------------------------------------------+
|1    |[[157, 6.3491497], [576, 5.822107], [236, 5.6325927], [548, 5.6133566], [512, 5.562183]] |
|2    |[[399, 5.6755395], [273, 5.189376], [595, 4.9810853], [589, 4.960952], [13, 4.915225]]   |
|3    |[[243, 7.4542813], [569, 6.8461537], [130, 6.379391], [535, 6.3497453], [99, 6.221362]]  |
|4    |[[536, 6.12868], [423, 5.446683], [485, 4.879732], [443, 4.7059207], [413, 4.622047]]    |
|5    |[[423, 6.8599854], [569, 6.1487494], [485, 6.0215416], [130, 5.782857], [243, 5.7175436]]|
|6    |[[147, 7.5006423], [243, 6.340062], [203, 5.9637938], [569, 5.8089347], [457, 5.7893596]]|
|7    |[[243, 5.8030853], [557, 5.75836], [547, 5.51956], [203, 5.181615], [468, 5.177589]]     |
|8    |[[99, 7.6877723], [344, 7.6841593], [77, 7.633016], [569, 7.521616], [472, 7.0156813]]   |
|9    |[[542, 7.643017], [413, 7.4718666], [557, 7.086807], [423, 7.0023823], [257, 6.735341]]  |
|10   |[[99, 6.118132], [77, 5.9265985], [413, 5.889102], [147, 5.6722984], [519, 5.217812]]    |
+-----+-----------------------------------------------------------------------------------------+
only showing top 10 rows

## Vamos a analizar las recomendaciones

Leemos el dataset de películas

In [9]:
movies = sparkSession.read.csv("/tmp/movielens/movies.csv", schema=movieSchema, header=True)
movies.show(10, truncate=False)

+-----+----------------------------------+-------------------------------------------+
|movie|title                             |genres                                     |
+-----+----------------------------------+-------------------------------------------+
|1    |Toy Story (1995)                  |Adventure|Animation|Children|Comedy|Fantasy|
|2    |Jumanji (1995)                    |Adventure|Children|Fantasy                 |
|3    |Grumpier Old Men (1995)           |Comedy|Romance                             |
|4    |Waiting to Exhale (1995)          |Comedy|Drama|Romance                       |
|5    |Father of the Bride Part II (1995)|Comedy                                     |
|6    |Heat (1995)                       |Action|Crime|Thriller                      |
|7    |Sabrina (1995)                    |Comedy|Romance                             |
|8    |Tom and Huck (1995)               |Adventure|Children                         |
|9    |Sudden Death (1995)               |Action                                     |
|10   |GoldenEye (1995)                  |Action|Adventure|Thriller                  |
+-----+----------------------------------+-------------------------------------------+
only showing top 10 rows

In [10]:
recs = recommendations.select("user", explode("recommendations"))
recs = recs.select("user", recs["col"]["movie"].alias("movie"), recs["col"]["rating"].alias("rating"))
recs.sort(asc("user")).show(truncate=False)

+----+------+---------+
|user|movie |rating   |
+----+------+---------+
|1   |3836  |6.511707 |
|1   |2013  |6.3986654|
|1   |142488|6.2144933|
|1   |3505  |6.2374196|
|1   |125   |6.246298 |
|2   |2492  |7.4105945|
|2   |4649  |7.236281 |
|2   |3446  |7.376205 |
|2   |307   |8.031318 |
|2   |1014  |8.222667 |
|3   |37380 |5.268049 |
|3   |70946 |5.449472 |
|3   |86320 |6.682943 |
|3   |4821  |6.6205907|
|3   |5181  |5.274498 |
|4   |111743|6.385763 |
|4   |8228  |6.6762133|
|4   |72    |6.3837175|
|4   |7700  |7.3021345|
|4   |6932  |6.446845 |
+----+------+---------+
only showing top 20 rows

Mezclamos con el dataset de películas para ver las recomendaciones por título

In [11]:
recs = recs.join(movies, "movie", "left_outer")
recs.sort(asc("user")).show(20)

+------+----+---------+--------------------+--------------------+
| movie|user|   rating|               title|              genres|
+------+----+---------+--------------------+--------------------+
|  2013|   1|6.3986654|Poseidon Adventur...|Action|Adventure|...|
|  3836|   1| 6.511707|Kelly's Heroes (1...|   Action|Comedy|War|
|  3505|   1|6.2374196|   No Way Out (1987)|Drama|Mystery|Thr...|
|142488|   1|6.2144933|    Spotlight (2015)|            Thriller|
|   125|   1| 6.246298|Flirting With Dis...|              Comedy|
|  3446|   2| 7.376205|  Funny Bones (1995)|        Comedy|Drama|
|   307|   2| 8.031318|Three Colors: Blu...|               Drama|
|  2492|   2|7.4105945|     20 Dates (1998)|      Comedy|Romance|
|  4649|   2| 7.236281|Wet Hot American ...|              Comedy|
|  1014|   2| 8.222667|    Pollyanna (1960)|Children|Comedy|D...|
| 70946|   3| 5.449472|      Troll 2 (1990)|      Fantasy|Horror|
| 37380|   3| 5.268049|         Doom (2005)|Action|Horror|Sci-Fi|
| 86320|   3| 6.682943|  Melancholia (2011)|        Drama|Sci-Fi|
|  5181|   3| 5.274498|    Hangar 18 (1980)|Action|Sci-Fi|Thr...|
|  4821|   3|6.6205907|     Joy Ride (2001)|  Adventure|Thriller|
|111743|   4| 6.385763|A Million Ways to...|      Comedy|Western|
|  8228|   4|6.6762133|Maltese Falcon, T...|             Mystery|
|    72|   4|6.3837175|Kicking and Screa...|        Comedy|Drama|
|  7700|   4|7.3021345|Wages of Fear, Th...|Action|Adventure|...|
|  6932|   4| 6.446845|Shattered Glass (...|         Crime|Drama|
+------+----+---------+--------------------+--------------------+
only showing top 20 rows

In [12]:
movieRatings = ratings.join(movies, "movie", "left_outer")

In [13]:
movieRatings.filter("user == 2").toPandas()

,movie,user,rating,title,genres
0,318,2,3.0,"Shawshank Redemption, The (1994)",Crime|Drama
1,333,2,4.0,Tommy Boy (1995),Comedy
2,1704,2,4.5,Good Will Hunting (1997),Drama|Romance
3,3578,2,4.0,Gladiator (2000),Action|Adventure|Drama
4,6874,2,4.0,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
5,8798,2,3.5,Collateral (2004),Action|Crime|Drama|Thriller
6,46970,2,4.0,Talladega Nights: The Ballad of Ricky Bobby (2...,Action|Comedy
7,48516,2,4.0,"Departed, The (2006)",Crime|Drama|Thriller
8,58559,2,4.5,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
9,60756,2,5.0,Step Brothers (2008),Comedy
10,68157,2,4.5,Inglourious Basterds (2009),Action|Drama|War
11,71535,2,3.0,Zombieland (2009),Action|Comedy|Horror
12,74458,2,4.0,Shutter Island (2010),Drama|Mystery|Thriller
13,77455,2,3.0,Exit Through the Gift Shop (2010),Comedy|Documentary
14,79132,2,4.0,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
15,80489,2,4.5,"Town, The (2010)",Crime|Drama|Thriller
16,80906,2,5.0,Inside Job (2010),Documentary
17,86345,2,4.0,Louis C.K.: Hilarious (2010),Comedy
18,89774,2,5.0,Warrior (2011),Drama
19,91529,2,3.5,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX
20,91658,2,2.5,"Girl with the Dragon Tattoo, The (2011)",Drama|Thriller
21,99114,2,3.5,Django Unchained (2012),Action|Drama|Western
22,106782,2,5.0,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama
23,109487,2,3.0,Interstellar (2014),Sci-Fi|IMAX
24,112552,2,4.0,Whiplash (2014),Drama
25,114060,2,2.0,The Drop (2014),Crime|Drama|Thriller
26,115713,2,3.5,Ex Machina (2015),Drama|Sci-Fi|Thriller
27,122882,2,5.0,Mad Max: Fury Road (2015),Action|Adventure|Sci-Fi|Thriller
28,131724,2,5.0,The Jinx: The Life and Deaths of Robert Durst ...,Documentary

In [14]:
recs.filter("user == 2").toPandas()

,movie,user,rating,title,genres
0,1014,2,8.222667,Pollyanna (1960),Children|Comedy|Drama
1,307,2,8.031318,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
2,2492,2,7.410594,20 Dates (1998),Comedy|Romance
3,3446,2,7.376205,Funny Bones (1995),Comedy|Drama
4,4649,2,7.236281,Wet Hot American Summer (2001),Comedy

In [15]:
movieRatings.groupBy("user").count().filter("count < 30").show()

+----+-----+
|user|count|
+----+-----+
| 471|   28|
| 496|   29|
| 392|   25|
| 516|   26|
| 251|   23|
|  53|   20|
| 296|   27|
| 472|   29|
| 530|   27|
|  81|   26|
| 406|   20|
|  26|   21|
| 192|   22|
| 329|   23|
| 388|   29|
| 548|   26|
| 578|   27|
| 333|   25|
| 157|   21|
| 360|   25|
+----+-----+
only showing top 20 rows

In [16]:
recs.filter("user == 26").toPandas()

,movie,user,rating,title,genres
0,4649,26,9.671824,Wet Hot American Summer (2001),Comedy
1,86911,26,8.025575,"Hangover Part II, The (2011)",Comedy
2,1327,26,7.998844,"Amityville Horror, The (1979)",Drama|Horror|Mystery|Thriller
3,4041,26,7.685206,"Officer and a Gentleman, An (1982)",Drama|Romance
4,1014,26,7.528905,Pollyanna (1960),Children|Comedy|Drama

In [17]:
movieRatings.filter("user == 26").toPandas()

,movie,user,rating,title,genres
0,10,26,3.0,GoldenEye (1995),Action|Adventure|Thriller
1,34,26,3.0,Babe (1995),Children|Drama
2,47,26,4.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
3,150,26,3.0,Apollo 13 (1995),Adventure|Drama|IMAX
4,153,26,3.0,Batman Forever (1995),Action|Adventure|Comedy|Crime
5,165,26,4.0,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
6,185,26,3.0,"Net, The (1995)",Action|Crime|Thriller
7,208,26,2.0,Waterworld (1995),Action|Adventure|Sci-Fi
8,225,26,3.0,Disclosure (1994),Drama|Thriller
9,288,26,3.0,Natural Born Killers (1994),Action|Crime|Thriller
10,296,26,4.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
11,300,26,3.0,Quiz Show (1994),Drama
12,344,26,3.0,Ace Ventura: Pet Detective (1994),Comedy
13,349,26,3.0,Clear and Present Danger (1994),Action|Crime|Drama|Thriller
14,356,26,3.0,Forrest Gump (1994),Comedy|Drama|Romance|War
15,380,26,3.0,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller
16,434,26,2.0,Cliffhanger (1993),Action|Adventure|Thriller
17,454,26,4.0,"Firm, The (1993)",Drama|Thriller
18,457,26,4.0,"Fugitive, The (1993)",Thriller
19,592,26,4.0,Batman (1989),Action|Crime|Thriller
20,593,26,4.0,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller